html, body {
    margin:0;
    padding:0;
    background-color:#7B513A;
}

header{
    background-color: #B0895E;
    display: flex;
    justify-content: space-around;
    position: fixed;
    opacity: .8;
    width: 100%;
    align-items: center;
    font-family: sans-serif;
}

.nav_but{
    outline: none;
    border: 0;
    background: transparent;
    color: white;
    font-size: 30px;
}
.icon_header{
    width: 116px;
    height: 113px;
}
.icon_candle{
    width: 96px;
    height: 105px;
}

.main_menu{
    width: 100%;
    height: 110%;
}